server {
    listen 50003;

    location ${ROOT_PATH}api/ {
        proxy_pass http://localhost:3001/api/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location ${ROOT_PATH} {
        root /usr/share/nginx/html;
        index index.html;
        try_files $uri $uri/ ${ROOT_PATH}index.html;
    }
}
